!!!
%html
  %head
    %meta{ 'charset' => "utf-8" }
    %meta{ 'name' => "ROBOTS", 'content' => "NOODP" }
    %title= content_for(:page_title) || 'Upcase'
    = stylesheet_link_tag '//cloud.typography.com/6716232/776984/css/fonts.css', :media => 'all'
    = stylesheet_link_tag :application, :media => 'all'
    = csrf_meta_tags
  %body{ 'class' => "#{body_class}" }
    = render 'flashes'

    %nav.main
      .nav-back
        = link_to '&larr; Back to dashboard'.html_safe, 'http://www.upcase.com', class: 'back'

      = yield :navigation

    %section.main
      = yield
    = render 'javascript'
